
{% extends "base.html" %}
{% block content %}

<h1> Tervetuloa kurssikyselysivulle! </h1>
 
<p> Tällä sivustolla voit vastata tiedekuntamme kurssien kurssikyselyihin. 
    
    
    
</p>
 

 
 <form>
     <div class="form-group">
      <button type="submit" class="btn btn-primary">Selaa kyselyitä</button>
    </div>
     
 </form>
 
<p> Kirjautuneet käyttäjät pystyvät lisäämään järjestelmään kursseja ja niille kyselyitä.
    
    
</p>

<form>
 
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input type="text" class="form-control">
    </div>


    <div class="form-group">
      <label>Salasana</label>
      <input type="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
  </form>

 {% endblock %}