{% extends "base.html" %}
{% block content %}

<h1> Raja-arvot </h1>

  <p>
    <button class="btn btn-default">Poista</button> 
    <a href="#" class="btn btn-default">Muokkaa</a>
    <a href="#" class="btn btn-default">Lisää kysely</a>
  </p>
  
    <ul>
    <li><strong>Kurssin vastuuopettaja: </strong> Setämies </li>
    <li><strong>Järjestävä laitos: </strong> Matematiikan ja tilastotieteen laitos </li>
    <li><strong>Kurssin tyyppi: </strong> Perusopinnot </li>
    <li><strong>Kurssiaika: </strong> I periodi </li>
  </ul>

  <p>
      
      Hämmennyksen kautta helpotukseen eli tähän tulee kurssin esittely.
      
  </p>
  
  <button type="submit" class="btn btn-primary">Selaa kurssin kyselyitä</button>
  
  
{% endblock %}
