{% extends "base.html" %}
{% block content %}

<h1> Tervetuloa, Setämies! </h1>

<p>Mitä haluaisit seuraavaksi tehdä?</p>

<form>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Selaa kyselyjä</button>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Selaa kursseja</button>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää uusi kysely</button>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää uusi kurssi</button>
    </div>
</form>
  
  
{% endblock %}