{% extends "base.html" %}
{% block content %}

<h1> Opettajan {{user_logged_in.nimi}} kurssit </h1>

<form method='get' action ="{{base_path}}/kurssit/new">
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää uusi kurssi</button>
    </div>
</form>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kurssin nimi</th>
            <th>Vastuuopettaja</th>
            <th>Kurssin tyyppi</th>
            <th>Kurssiaika</th>
        </tr>
    </thead>
    
    <tbody>
        {% for kurssi in kurssit where opettaja = {{user_logged_in.nimi}} %}
            <tr>
                <td><a href="{{base_path}}/kurssit/{{kurssi.tunniste}}">{{kurssi.nimi}}</td>
                <td>{{kurssi.opettaja}}</td>
                <td>{{kurssi.tyyppi}}</td>
                <td>{{kurssi.aika}}</td>
            </tr>
        {% endfor %}
    </tbody>
    
</table>
  
  
{% endblock %}
