{% extends "base.html" %}
{% block content %}

<h1>Muokkaa kurssia {{kurssi.nimi}} </h1>

<form method="post" action="{{base_bath}}/kurssikysely/kurssit/{{kurssi.tunniste}}/edit">
    <div class="form-group">
      <label>Kurssin nimi</label>
      <input type="text" name = "nimi" class="form-control" value= "" >
    </div>
    <div class="form-group">
      <label>Kurssin vastuuopettaja</label>
      <input type="text" name = "opettaja" class="form-control" value="">
    </div>
    <div class="form-group">
      <label>Kurssin tyyppi</label>
      <input type="text" name = "tyyppi" class="form-control" value= "">
    </div>
    <div class="form-group">
      <label>Kurssiaika</label>
      <input type="text" name ="aika" class="form-control" value="">
    </div>
    <div class="form-group">
      <label>Vapaa kuvaus</label>
      <textarea name ="kuvaus" class="form-control"> 
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>


  
  
{% endblock %}