{% extends "base.html" %}
{% block content %}

<h1>Lisää kysely kurssille {{kurssi.nimi}}</h1>


Voit joko luoda kokonaan uuden kyselyn kurssillesi tai käyttää valmista kyselypohjaa.




<form method="get" action="{{base_path}}/kyselyt/new" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Luo uusi kysely</button>
</form>



<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kysely</th>          
            <th>Kyselyn tarkoitus</th>
            <th>Kysymykset</th>
            <th>Valitse kysely</th>
        </tr>
    </thead>
    
    <tbody>
        {% for kysely in kyselyt %}
            <tr>
                <td>{{kysely.kyselyn_nimi}}</td>
                <td>{{kysely.tarkoitus}}</td>
                <td>
                    
                {% for kysymys in kysely.kysymykset %}
                    <li>{{kysymys}}</li>
                {% endfor %}
                    </td>
                <td>
                     <form method="post" action="{{base_path}}/kurssit/{{kurssi.tunniste}}/{{kysely.kyselyn_nimi}}/taydenna" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Valitse</button>
                    </form>   
                    </td>
            </tr>
        {% endfor %}
    </tbody>
    
</table>

{% endblock %}