{% extends "base.html" %}
{% block content %}

<h1>Lisää uusi kurssi</h1>



<form method='post' action="{{base_bath}}/kurssikysely/kurssi">
    <div class="form-group">
      <label>Kurssin nimi</label>
      <input type="text" name = "nimi" class="form-control">
    </div>
    <div class="form-group">
      <label>Kurssin vastuuopettaja</label>
      <input type="text" name="opettaja" class="form-control">
    </div>
    <div class="form-group">
      <label>Kurssin tyyppi</label>
      <input type="text" name="tyyppi" class="form-control">
    </div>
    <div class="form-group">
      <label>Kurssiaika</label>
      <input type="text" name="aika" class="form-control">
    </div>
    <div class="form-group">
      <label>Vapaa kuvaus</label>
      <textarea name="kuvaus" class="form-control"> 
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>


  
  
{% endblock %}
