{% extends "base.html" %}
{% block content %}



<h1> {{kurssi.nimi}} </h1>

  <p>
    <button class="btn btn-default">Poista</button> 
    <a href="#" class="btn btn-default">Muokkaa</a>
    <a href="#" class="btn btn-default">Lisää kysely</a>
  </p>
  
    <ul>
    <li><strong>Kurssin vastuuopettaja: </strong> {{kurssi.opettaja}} </li>
    <li><strong>Järjestävä laitos: </strong> {{kurssi.laitos}} </li>
    <li><strong>Kurssin tyyppi: </strong> {{kurssi.tyyppi}} </li>
    <li><strong>Kurssiaika: </strong> {{kurssi.aika}} </li>
  </ul>

  <p>
      
      {{kurssi.esittely}}
      
  </p>
  
  <button type="submit" class="btn btn-primary">Selaa kurssin kyselyitä</button>
  
  
{% endblock %}
