{% extends "base.html" %}
{% block content %}

<h1>Liitä kysely {{kysely}} kurssiin</h1>

<form method='post' action="{{base_bath}}/kurssikysely/kyselyt/taydennetty">
    <div class="form-group">
      <label>Kurssin nimi</label>
      <input type="text" name = "kurssi" class="form-control">
    </div>
    <div class="form-group">
        <label>Kurssin aika</label>
        <input type="text" name = "aika" class="form-control">
    </div>    
    <div class="form-group">
      <label>Kyselyn päättymispäivä</label>
      <input type="text" name="paattyminen" class="form-control">
    </div>
    <div class="form-group">
      <label>Kyselyn nimi</label>
      <input type="text" name="kyselyn_nimi"  class="form-control"value = "{{kysely}}">
    </div>
    <div class="form-group">
      <label>Kyselyn tarkoitus</label>
      <input type="text" name="tarkoitus"  class="form-control"value = "{{tarkoitus}}">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>

{% endblock %}