{% extends "base.html" %}
{% block content %}

<h1>Liitä kysely {{kysely.kyselyn_nimi}} kurssiin</h1>


  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

<form method='post' action="{{base_bath}}/kurssikysely/kyselyt/taydennetty">
    <div class="form-group">
      <label>Kurssin nimi</label>
      <input type="text" name = "kurssi" class="form-control" value = "{{kysely.kurssi}}">
    </div>
    <div class="form-group">
        <label>Kurssin aika</label>
        <input type="text" name = "aika" class="form-control" value = "{{kysely.aika}}">
    </div>    
    <div class="form-group">
      <label>Kyselyn päättymispäivä</label>
      <input type="text" name="paattyminen" class="form-control" value = "{{kysely.paattyminen}}">
    </div>
    <div class="form-group">
      <label>Kyselyn nimi</label>
      <input type="text" name="kyselyn_nimi"  class="form-control" value = "{{kysely.kyselyn_nimi}}">
    </div>
    <div class="form-group">
      <label>Kyselyn tarkoitus</label>
      <input type="text" name="tarkoitus"  class="form-control" value = "{{kysely.tarkoitus}}">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>

{% endblock %}